PORT=4000
# Replace <username>, <password>, and <cluster-url> with your MongoDB Atlas credentials.
# Make sure the database name at the end of the URL is 'mbfashion'
MONGODB_URI=mongodb://<username>:<password>@<cluster-url>/mbfashion?ssl=true&replicaSet=<replica-set>&authSource=admin&retryWrites=true&w=majority
JWT_SECRET=your_jwt_secret_here
